<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Event Details</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
	<meta name="title" content="This is event title">

    <!-- Favicons -->
    <link href="../assets/images/Innovision_Logo.ico" rel="icon">
    <link href="../assets/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="../assets/lib/google-fonts/fonts.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../assets/lib/venobox/venobox.css" rel="stylesheet">
    <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/sweetalert.css" rel="stylesheet">


    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
  Header
============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <a href="../index.html" class="scrollto"><img src="../assets/images/Innovision_Logo.png" alt="inno logo"
                        title="Innovision'19"></a>
                <h1><a href="#"><span>innovision'19</span></a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="../index.html">Home</a></li>
                    <!-- <li><a href="#about">About</a></li> -->
                    <li class="dropdown menu-active">

                        <a class="dropbtn dropping">Events</a>
                        <div class="dropdown-content">
                            <a href="eventsSection.html#EventsSection">Event Schedule</a>
                            <a href="eventsSection.html#flagships1">Flagship Events</a>
                        	<a href="eventsSection.html#preinnoevents1">Pre-inno Events</a>
                            <a href="eventsSection.html#events1">Events</a>
                            <a href="eventsSection.html#workshops1">Workshops</a>
                            <a href="eventsSection.html#workshops2">Workshops (Paid)</a>
                            <a href="eventsSection.html#exhibitions1">Exhibitions</a>
                            <a href="eventsSection.html#cultural1">Pro Shows</a>
                        	<a href="eventsSection.html#funevents1">Fun Events</a>
                        	<a href="eventsSection.html#special1">Special Events</a>
                        </div>

                    </li>
                    <!-- <li><a href="ISRpage.html">I.S.R</a></li> -->
                    <li><a href="FAQ.html">FAQ</a></li>
                    <!-- <li><a href="#hotels">Hotels</a></li>
                  <li><a href="#gallery">Gallery</a></li> -->
                    <li><a href="sponsor.html">Sponsors</a></li>
                    <!-- <li><a href="#contact">Contact</a></li> -->
                    <li class="buy-tickets"><a href="login.html" class="log_btn">Login/Register</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!-- <main id="main" class="main-page"> -->

    <!--==========================
      Speaker Details Section
    ============================-->
    <div class="modal fade" id="details_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Provide Details to register for this Event</h4>
                </div>
                <div class="modal-body">
                    <form id="DetailsForm">
                        <div class="form-group">
                            <label for="graduation_year">Graduation Year:</label>
                            <select name="year" id="graduation_year" class="col-sm-12 form-control">
                                <option value="2020">2020</option>
                                  <option value="2021">2021</option>
                                  <option value="2022">2022</option>
                                  <option value="2023">2023</option>
                                  <option value="2024">2024</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">CGPA:</label><br>
                            <input type="number" id="cgpa" name="cgpa" value="" class="col-sm-12 form-control">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Link to your CV:</label><br>
                            <input type="text" id="cvLink" name="cvLink" value="" class="col-sm-12 form-control">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Number of Active Backlogs:</label><br>
                            <input type="number" id="backlogs" name="backlogs" value="" class="col-sm-12 form-control">
                        </div>                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="detailsButton">Register</button>
                </div>
            </div>
        </div>
    </div>
    <section id="speakers-details" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2 id="eid_name"></h2>
                <p>
                    Date : <b id="eid_date"> </b> <br>
                    Time : <b id="eid_time"> </b> <br>
                    Venue : <b id="eid_venue"> </b>  <br>
                    <div class="event-register register"><a href="#" id="register"></a></div>
                    <!-- register button for events -->
                </p>
            </div>

            <div class="row">
                <div class="col-md-6" id="eid_img">
                    <!-- <img src="../assets/images/speakers/1.jpg" title="Event name" class="img-fluid"> -->
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h2>Event Description</h2>

                        <p id="eid_des"></p>

                    </div>

                    <div class="details">
                        <h2>Event Rules</h2>

                        <p id="eid_rule"> </p>

                    </div>

                    <div class="details">
                        <h2>Judging Criteria</h2>

                        <p id="eid_judge"></p>

                    </div>

                    <div class="details">
                        <h2>Coordinators info</h2>

                        <p> <b id="eid_cd1">Name</b> : <em id="eid_no1">contact no.</em> </p>
                        <p> <b id="eid_cd2">Name</b> : <em id="eid_no2">contact no.</em> </p>

                    </div>

                </div>

            </div>
        </div>

    </section>

    <!-- </main> -->


    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="../assets/images/inno_logo.png" alt="Inno logo">
                        <p>Innovision is the annual techno-management festival of NIT Rourkela organized by the
                            students. It has
                            been fuelling innovations and encouraging millions since 2004 and is a unique forum where
                            the youth gets
                            the opportunity to explore and experience science and technology in all its myriad forms.
                            .</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="https://www.nitrkl.ac.in">NITR home page</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://www.nitrkl.ac.in/SAC/">SAC @NITR</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i> <a href="http://gallery.nitrkl.ac.in/">NITR
                                    gallery</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://twitter.com/nitrourkela?s=17">NITR
                                    Twitter</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://mondaymorning.nitrkl.ac.in">Monday
                                    Morning
                                    @NITR</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <b>Student Activity Center</b> <br>
                            <strong>National Institute of Technology</strong> <br>
                            <em>Sector 1, Rourkela - 769008</em> <br>
                            <strong>Phone:</strong> +91 9668081541 <br>
                            <strong>Email:</strong> <a href="mailto:contactus.innovision@gmail.com">contactus.innovision@gmail.com</a>
                            <br>
                        </p>

                        <div class="social-links">
                            <a href="https://twitter.com/innonitr?lang=en" class="twitter"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/innonitr/" class="facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/inno.nitr/" class="instagram"><i
                                    class="fa fa-instagram"></i></a>
                            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <a href="https://www.nitrkl.ac.in" target="_blank"> <img src="../assets/images/nitrlogo.png"
                                alt="NITR Logo"> </a>
                        <p>NIT Rourkela (formerly REC Rourkela) is an institute of national importance, with UG, PG, and
                            research
                            programs in engineering and science. It is a publicly funded institute of higher learning
                            for engineering
                            and technology located in the steel city of Rourkela, Odisha, India. It is one of the 30
                            National
                            Institutes of Technology in India and has been recognized as an Institute of National
                            Importance by the
                            National Institutes of Technology Act, 2007.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>National Institute of Technology, Rourkela</strong>.
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
                Designed by <a href="#">Innovision Tech Team</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="../assets/lib/jquery/jquery.min.js"></script>
    <script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/lib/easing/easing.min.js"></script>
    <script src="../assets/lib/superfish/hoverIntent.js"></script>
    <script src="../assets/lib/superfish/superfish.min.js"></script>
    <script src="../assets/lib/wow/wow.min.js"></script>
    <script src="../assets/lib/venobox/venobox.min.js"></script>
    <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="../assets/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/sweetalert.js"></script>
    <script src="../assets/js/ajax/event_individual.js"></script>
<!--     <script src="../assets/js/ajax/check_login.js"></script> -->
    <script>
      var q = localStorage.getItem("token");
      if(q)
      {
            $.ajax({
                url:'../apis/user/auth/profile.php',
                beforeSend: function(request){
                    request.setRequestHeader('Authorization', 'Bearer ' + q);
                },
                type: 'get',
                    success:function(response)
                    {
                  response = JSON.parse(response);
                    if (response.status == "success") {
                   // $("#log_btn").hide();
                   $('.log_btn').html('Profile').attr('href','profile.html')
                  }
              }
            });
      }
    </script>


    </body>

</html>