<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FAQ page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../assets/images/Innovision_Logo.ico" rel="icon">
    <link href="../assets/imagesapple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="../assets/lib/google-fonts/fonts.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../assets/lib/venobox/venobox.css" rel="stylesheet">
    <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>
    
    <!--==========================
  Header
============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <a href="../index.html" class="scrollto"><img src="../assets/images/Innovision_Logo.png" alt="inno logo"
                        title="Innovision'19"></a>
                <h1><a href="#"><span>innovision'19</span></a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="../index.html">Home</a></li>
                    <!-- <li><a href="#about">About</a></li> -->
                    <li class="dropdown">

                        <a class="dropbtn dropping">Events</a>
                        <div class="dropdown-content">
                            <a href="eventsSection.html#EventsSection">Event Schedule</a>
                            <a href="eventsSection.html#flagships1">Flagship Events</a>
                        	<a href="eventsSection.html#preinnoevents1">Pre-inno Events</a>
                            <a href="eventsSection.html#events1">Events</a>
                            <a href="eventsSection.html#workshops1">Workshops</a>
                            <a href="eventsSection.html#workshops2">Workshops (Paid)</a>
                        	<a href="eventsSection.html#guestlect">Guest Lectures</a>
                            <a href="eventsSection.html#exhibitions1">Exhibitions</a>
                            <a href="eventsSection.html#cultural1">Pro Shows</a>
                        	<a href="eventsSection.html#funevents1">Fun Events</a>
                        	<a href="eventsSection.html#special1">Special Events</a>
                        </div>

                    </li>
                    <!-- <li><a href="ISRpage.html">I.S.R</a></li> -->
                    <li class="menu-active"><a href="FAQ.html">FAQ</a></li>
                    <!-- <li><a href="#hotels">Hotels</a></li>
                  <li><a href="#gallery">Gallery</a></li> -->
                    <li><a href="sponsor.html">Sponsors</a></li>
                    <!-- <li><a href="#contact">Contact</a></li> -->
                    <li class="buy-tickets"><a href="login.html"  class="log_btn">Login/Register</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->




    <section id="faq" class="wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <h2>FAQ</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul id="faq-list">

                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#faq1">When is
                            INNOVISION'19? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq1" class="collapse" data-parent="#faq-list">
                                <p>
                                     Ans. INNOVISION,The annual techno-management festival of NIT Rourkela, will be held from 1st
                            to 3rd of November.

                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq2" class="collapsed">How to
                            register for INNOVISION'19? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq2" class="collapse" data-parent="#faq-list">
                                <p>
                                    Ans. Please go to sign up option for registration

                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq3" class="collapsed">How much
                            is the registration fee?<i class="fa fa-minus-circle"></i></a>
                            <div id="faq3" class="collapse" data-parent="#faq-list">
                                <p>
                                   Ans. You will get to know about the fee during registration process.

                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq4" class="collapsed">Will
                            there be accommodation provided? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq4" class="collapse" data-parent="#faq-list">
                                <p>
                                    Ans. Yes, accommodation will be provided to the participants in the various halls of
                            residences located within our campus.
                            After registering at our desk, our hospitality team would guide the participants to their
                            allotted halls.

                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq5" class="collapsed"> Do we
                            have to pay entry fee for every events? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq5" class="collapse" data-parent="#faq-list">
                                <p>
                                     Ans. Actually, there are events which have no entry fees but some events have. It differs
                            for each event.

                                </p>
                            </div>
                        </li>
                    
                    	<li>
                            <a data-toggle="collapse" href="#faq6" class="collapsed">What is 
                            the refund policy if I don't want to join Innovision'19? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq6" class="collapse" data-parent="#faq-list">
                                <p>
                                     Ans. The amount once paid can't be refunded under any circumstances.
                                </p>
                            </div>
                        </li>
                    
                    	<li>
                            <a data-toggle="collapse" href="#faq7" class="collapsed">Is the ticket
                            transferable if I don't want to join Innovision'19? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq7" class="collapse" data-parent="#faq-list">
                                <p>
                                     Ans. The tickets are non-transferable and non-refundable.
                                </p>
                            </div>
                        </li>
                    
                    	<li>
                            <a data-toggle="collapse" href="#faq8" class="collapsed">Is accomodation included in the registration fees? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq8" class="collapse" data-parent="#faq-list">
                                <p>
                                     Ans. Yes, Innovision team will take care of the accomodation. 
                                However the participants will have to take care of the fooding on their own.
                                </p>
                            </div>
                        </li>

                      
                    </ul>
                </div>
            </div>

        </div>

    </section>
    <br>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="../assets/images/inno_logo.png" alt="Inno logo">
                        <p>Innovision is the annual techno-management festival of NIT Rourkela organized by the
                            students. It has
                            been fuelling innovations and encouraging millions since 2004 and is a unique forum where
                            the youth gets
                            the opportunity to explore and experience science and technology in all its myriad forms.
                            .</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="https://www.nitrkl.ac.in">NITR home page</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://www.nitrkl.ac.in/SAC/">SAC @NITR</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i> <a href="http://gallery.nitrkl.ac.in/">NITR
                                    gallery</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://twitter.com/nitrourkela?s=17">NITR
                                    Twitter</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://mondaymorning.nitrkl.ac.in">Monday
                                    Morning
                                    @NITR</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <b>Student Activity Center</b> <br>
                            <strong>National Institute of Technology</strong> <br>
                            <em>Sector 1, Rourkela - 769008</em> <br>
                            <strong>Phone:</strong> +91 9668081541 <br>
                            <strong>Email:</strong> <a href="mailto:contactus.innovision@gmail.com">contactus.innovision@gmail.com</a>
                            <br>
                        </p>

                        <div class="social-links">
                            <a href="https://twitter.com/innonitr?lang=en" class="twitter"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/innonitr/" class="facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/inno.nitr/" class="instagram"><i
                                    class="fa fa-instagram"></i></a>
                            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <a href="https://www.nitrkl.ac.in" target="_blank"> <img src="../assets/images/nitrlogo.png"
                                alt="NITR Logo"> </a>
                        <p>NIT Rourkela (formerly REC Rourkela) is an institute of national importance, with UG, PG, and
                            research
                            programs in engineering and science. It is a publicly funded institute of higher learning
                            for engineering
                            and technology located in the steel city of Rourkela, Odisha, India. It is one of the 30
                            National
                            Institutes of Technology in India and has been recognized as an Institute of National
                            Importance by the
                            National Institutes of Technology Act, 2007.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>National Institute of Technology, Rourkela</strong>.
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
                Designed by <a href="#">Innovision Tech Team</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->
    
    <script src="../assets/lib/jquery/jquery.min.js"></script>
    <script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/lib/easing/easing.min.js"></script>
    <script src="../assets/lib/superfish/hoverIntent.js"></script>
    <script src="../assets/lib/superfish/superfish.min.js"></script>
    <script src="../assets/lib/wow/wow.min.js"></script>
    <script src="../assets/lib/venobox/venobox.min.js"></script>
    <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>
	
    <!-- Contact Form JavaScript File -->
    <!-- Template Main Javascript File -->
    
    <script src="../assets/js/contactform.js"></script>
    <script src="../assets/js/main.js"></script>
	<script>
    $(document).ready(function() {
      var q = localStorage.getItem("token");
      if(q)
      {
            $.ajax({
                url:'../apis/user/auth/profile.php',
                beforeSend: function(request){
                    request.setRequestHeader('Authorization', 'Bearer ' + q);
                },
                type: 'get',
                    success:function(response)
                    {
                   // $("#log_btn").hide();
                   	response = JSON.parse(response);
                    if (response.status == "success") {
                   // $("#log_btn").hide();
                   $('.log_btn').html('Profile').attr('href','profile.html')
                  	}
                    else
                    {
                       $('.log_btn').html('Login/Registration').attr('href','login.html')
                    }

              }
            });
      }
    })
    </script>


</body>

</html>