<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../assets/images/Innovision_Logo.ico" rel="icon">
    <link href="../assets/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="../assets/lib/google-fonts/fonts.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../assets/lib/venobox/venobox.css" rel="stylesheet">
    <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/profile.css" rel="stylesheet">


    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <a href="../index.html" class="scrollto"><img src="../assets/images/Innovision_Logo.png" alt="inno logo" title="Innovision'19"></a>
                <h1><a href="#"><span>inno'19</span></a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="../index.html">Home</a></li>
                    <!-- <li><a href="#about">About</a></li> -->
                    <li class="dropdown">

                        <a class="dropbtn dropping">Events</a>
                        <div class="dropdown-content">
                            <a href="eventsSection.html#EventsSection">Event Schedule</a>
                            <a href="eventsSection.html#flagships">Flagship Events</a>
                            <a href="eventsSection.html#events">Events</a>
                            <a href="eventsSection.html#workshops">Workshops</a>
                            <a href="eventsSection.html#paidworkshops">Workshops (Paid)</a>
                            <a href="eventsSection.html#exhibitions">Exhibitions</a>
                            <a href="eventsSection.html#cultural">Cultural</a>
                        </div>

                    </li>
                    <!-- <li><a href="ISRpage.html">I.S.R</a></li> -->
                    <li><a href="FAQ.html">FAQ</a></li>
                    <!-- <li><a href="#hotels">Hotels</a></li>
                  <li><a href="#gallery">Gallery</a></li> -->
                    <li><a href="sponsor.html">Sponsors</a></li>
                    <!-- <li><a href="#contact">Contact</a></li> -->
                    <!-- <li class="buy-tickets"><a href="login.html">Login/Register</a></li> -->
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Login and Registration Section
  ============================-->



    <section id="profile_inno" class="section-with-bg">
        <div class="container wow fadeInUp">

            <div class="section-header">

                <center>
                    <h2 style="color: white;">Profile Page</h2>
                </center>
            </div>
            <div class="row" style="text-align: center;">

                <div class="col-md-8">
                    <h3 style="color: white;" id="participant_name"></h3>
                    <h3 style="color: white;" id="participant_email"></h3>
                    <h3 style="color: white;" id="participant_college"></h3>
                    <h3 style="color: white;" id="participant_id"></h3>
                    <br><br>
                    <a id="paymentBtn" class="about-btn scrollto">&nbsp;&nbsp; PAYMENT &nbsp;&nbsp;</a> <br><br>
                    <button class="about-btn" style="background-color: black;" id="ca_button1">&nbsp; VIEW OR EDIT YOUR CA PROFILE &nbsp;</button>
                </div>
                <div class="col-md-4">
                    <center>
                        <img id="qr_image" src=" " style="position: relative;" />
                    </center>
                </div>
            </div>
            <br><br>

            <br><br>


        </div>

    </section>

    <section id="profile_inno" class="section-with-bg">
        <div class="container wow fadeInUp">
            <br>
            <div class="section-header">
                <h2 style="color: white; font-size: 26px;">Events Registered</h2>
            </div>

            <div class="container" id="profile_events">
                <!--<div class="row" style="text-align: center;">

                    <div class="col-lg-3 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="../assets/images/hotels/1.jpg" alt="Events 1" class="img-fluid">
                            </div>
                            <h3><a href="# " >Events 1</a></h3>
  
                        </div>
                    </div>

                      <div class="col-lg-3 col-md-6 ">
                        <div class="hotel ">
                          <div class="hotel-img ">
                            <img src="../assets/images/hotels/2.jpg " alt="Events 2 " class="img-fluid ">
                          </div>
                          <h3><a href="# ">Events 2</a></h3>
                         
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6 ">
                        <div class="hotel ">
                          <div class="hotel-img ">
                            <img src="../assets/images/hotels/3.jpg " alt="Events 3 " class="img-fluid ">
                          </div>
                          <h3><a href="# ">Events 3</a></h3>
                         
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6 ">
                        <div class="hotel ">
                          <div class="hotel-img ">
                            <img src="../assets/images/hotels/3.jpg " alt="Events 4 " class="img-fluid ">
                          </div>
                          <h3><a href="# ">Events 4</a></h3>
                         
                        </div>
                      </div>
                </div>
            -->

            </div>
        </div>
    </section>



    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="../assets/images/inno_logo.png" alt="Inno logo">
                        <p>Innovision is the annual techno-management festival of NIT Rourkela organized by the students. It has been fuelling innovations and encouraging millions since 2004 and is a unique forum where the youth gets the opportunity to explore
                            and experience science and technology in all its myriad forms. .
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="www.nitrkl.ac.in">NITR home page</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://www.nitrkl.ac.in/SAC/">SAC @NITR</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i> <a href="http://gallery.nitrkl.ac.in/">NITR
                                    gallery</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://twitter.com/nitrourkela?s=17">NITR
                                    Twitter</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://mondaymorning.nitrkl.ac.in">Monday
                                    Morning
                                    @NITR</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <b>Student Activity Center</b> <br>
                            <strong>National Institute of Technology</strong> <br>
                            <em>Sector 1, Rourkela - 769008</em> <br>
                            <strong>Phone:</strong> +91 9668081541 <br>
                            <strong>Email:</strong> <a href="mailto:contactus@innonitr.com">contactus@innonitr.com</a>
                            <br>
                        </p>

                        <div class="social-links">
                            <a href="https://twitter.com/innonitr?lang=en" class="twitter"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/innonitr/" class="facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/inno.nitr/" class="instagram"><i
                                    class="fa fa-instagram"></i></a>
                            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <a href="https://www.nitrkl.ac.in" target="_blank"> <img src="../assets/images/nitrlogo.png" alt="NITR Logo"> </a>
                        <p>NIT Rourkela (formerly REC Rourkela) is an institute of national importance, with UG, PG, and research programs in engineering and science. It is a publicly funded institute of higher learning for engineering and technology located
                            in the steel city of Rourkela, Odisha, India. It is one of the 30 National Institutes of Technology in India and has been recognized as an Institute of National Importance by the National Institutes of Technology Act, 2007.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>National Institute of Technology, Rourkela</strong>.
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
                Designed by <a href="#">Innovision Tech Team</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="../assets/lib/jquery/jquery.min.js"></script>
    <script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/lib/easing/easing.min.js"></script>
    <script src="../assets/lib/superfish/hoverIntent.js"></script>
    <script src="../assets/lib/superfish/superfish.min.js"></script>
    <script src="../assets/lib/wow/wow.min.js"></script>
    <script src="../assets/lib/venobox/venobox.min.js"></script>
    <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../assets/lib/sweetalert/sweetalert.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="../assets/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/ajax/user_profile_read.js"></script>
</body>

</html>