<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TheEvent - Bootstrap Event Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../assets/images/favicon.png" rel="icon">
    <link href="../assets/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="../assets/lib/google-fonts/fonts.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../assets/lib/venobox/venobox.css" rel="stylesheet">
    <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>
     <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <a href="#intro" class="scrollto"><img src="../assets/images/Innovision_Logo.png" alt="" title="Innovision-19"></a>
        <h1><a href="#main"><span>inno'19</span></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li class="dropdown">

            <a class="dropbtn dropping">Events</a>
            <div class="dropdown-content">
              <a href="views/eventsSection.html#EventsSection">Event Schedule</a>
              <a href="views/eventsSection.html#Events">Events</a>
              <a href="views/eventsSection.html#Workshops">Workshops</a>
              <a href="views/eventsSection.html#Paid-Workshops">Paid-Workshops</a>
              <a href="views/eventsSection.html#Cultural">Cultural</a>
            </div>

          </li>
          <li><a href="views/ISRpage.html">Innovision Social Regime</a></li>
          <li><a href="views/FAQ.html">FAQ</a></li>
          <!-- <li><a href="#hotels">Hotels</a></li>
                  <li><a href="#gallery">Gallery</a></li> -->
          <li class="menu-active"><a href="views/sponsor.html">Sponsors</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="buy-tickets"><a href="views/login.html">Login/Register</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>

    <!-- #header --><br>

    <section id="supporters" class="section-with-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>SPONSORS</h2>
            </div>

            <div class="row no-gutters supporters-wrap clearfix">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/advantedge.jpg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/challengeRocket.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/digitalOcean.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/github.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/hackerearth.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/hacksociety.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/Inkmonk.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/jetbrains.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/dottech.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/wolfarmalpha.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/lt61.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/un.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/mayfair.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/ta.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/lic.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/temp.png" class="img-fluid" alt="">
                    </div>
                </div>


            </div>

        </div>

    </section><br><br>
    <section id="supporters" class="section-with-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Our Media Partner</h2>
            </div>

            <center>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="../assets/images/supporters/rourkelaTips.png" class="img-fluid" alt="">
                    </div>
                </div></center>

              </div>
            </section>
            <br><br>

                <section id="supporters" class="section-with-bg wow fadeInUp">
                    <div class="container">
                        <div class="section-header">
                            <h2>Our Design Partner</h2>
                        </div>

                        <center>

                            <div class="col-lg-3 col-md-4 col-xs-6">
                                <div class="supporter-logo">
                                    <img src="../assets/images/supporters/dt.png" class="img-fluid" alt="">
                                </div>
                            </div></center>



                             </div>
                      </section><br><br>
                      <section id="supporters" class="section-with-bg wow fadeInUp">
                          <div class="container">
                              <div class="section-header">
                                  <h2>Our Photography Partner</h2>
                              </div>

                              <center>

                                  <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="supporter-logo">
                                          <img src="../assets/images/supporters/thirdeye.png" class="img-fluid" alt="">
                                      </div>
                                  </div></center>



                                   </div>
                            </section><br><br>
                            <section id="supporters" class="section-with-bg wow fadeInUp">
                                <div class="container">
                                    <div class="section-header">
                                        <h2>Our Exhibition Partner</h2>
                                    </div>

                                    <center>

                                        <div class="col-lg-3 col-md-4 col-xs-6">
                                            <div class="supporter-logo">
                                                <img src="../assets/images/supporters/wingfotech.png" class="img-fluid" alt="">
                                            </div>
                                        </div></center>



                                         </div>
                                  </section><br><br>
                                  <section id="supporters" class="section-with-bg wow fadeInUp">
                                      <div class="container">
                                          <div class="section-header">
                                              <h2>Our Previous Sponsors</h2>
                                          </div>

                                          <div class="row no-gutters supporters-wrap clearfix">

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/bhubaneswar buzz.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/coca_cola.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/facor.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/ims.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/Indian-Oil.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/mayfair.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/mcl.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>

                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/nalco.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/OdishaMining_MI.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/ovotees.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/Radhika-Regency.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/radio.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/rourkelaTips.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/Sambad_logo.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/sbi-jobs.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/snapdeal-new-logo-7591.jpg" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/teeshood.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-xs-6">
                                                  <div class="supporter-logo">
                                                      <img src="../assets/images/supporters/wisdom.png" class="img-fluid" alt="">
                                                  </div>
                                              </div>




                                          </div>

                                      </div>

                                  </section><br><br>





    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="../assets/images/logo.png" alt="TheEvenet">
                        <p>In alias aperiam. Placeat tempore facere. Officiis voluptate ipsam vel eveniet est dolor et totam porro. Perspiciatis ad omnis fugit molestiae recusandae possimus. Aut consectetur id quis. In inventore consequatur ad voluptate
                            cupiditate debitis accusamus repellat cumque.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br> New York, NY 535022<br> United States <br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
















































































        <!-- JavaScript Libraries -->
        <script src="../assets/lib/jquery/jquery.min.js"></script>
        <script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
        <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/lib/easing/easing.min.js"></script>
        <script src="../assets/lib/superfish/hoverIntent.js"></script>
        <script src="../assets/lib/superfish/superfish.min.js"></script>
        <script src="../assets/lib/wow/wow.min.js"></script>
        <script src="../assets/lib/venobox/venobox.min.js"></script>
        <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Form JavaScript File -->
        <script src="../assets/js/contactform.js"></script>

        <!-- Template Main Javascript File -->
        <script src="../assets/js/main.js"></script>



































</body>

</html>
