<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Events Section</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../../assets/images/favicon.png" rel="icon">
    <link href="../../assets/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="../../assets/lib/google-fonts/fonts.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- ../assets/libraries CSS Files -->
    <link href="../../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../assets/lib/animate/animate.min.css" rel="stylesheet">
<!--     <link href="../../assets/lib/venobox/venobox.css" rel="stylesheet">
    <link href="../../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> -->

    <!-- Main Stylesheet File -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/login.css" rel="stylesheet">
    <link href="../../assets/css/sweetalert.css" rel="stylesheet">

    <style type="text/css">
      #choose_clg {
        display: block;
      }
      #enter_clg {
        display: none;
      }
    </style>

    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <a href="#intro" class="scrollto"><img src="../../assets/images/Innovision_Logo.png" alt="" title="Innovision'19"></a>
                <!-- <h1><a href="#main"><span>Inno'19</span></a></h1> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li class="dropdown menu-active">

                        <a class="dropbtn">Events</a>
                        <div class="dropdown-content">
                            <a href="../eventsSection.html#flagships">Flagship Events</a>
                            <a href="../eventsSection.html#events">Events</a>
                            <a href="../eventsSection.html#workshops">Workshops</a>
                            <a href="../eventsSection.html#paidworkshops">Workshops (Paid)</a>
                            <a href="../eventsSection.html#exhibitions">Exhibitions</a>
                            <a href="../eventsSection.html#cultural">Cultural </a>

                        </div>

                    </li>
                    <!-- <li><a href="#schedule">Schedule</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#hotels">Hotels</a></li> -->
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#supporters">Sponsors</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->




    <div id="EventsSection">

        <!--==========================
        Schedule Section
      ============================-->
        <section  class="section-with-bg" style="    padding: 100px 0 60px 0;">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>Campus Ambassador Registration</h2>
                </div>

             <h3 style="font-size: 1.5rem; font-weight: 550;">About</h3>
            <p>
                Be the face of your college and represent eastern India’s most massive techno-management fest: Innovision. The wait for such an opportunity is over, here's your ticket of a lifetime to develop professional impersonality skills. Innovision, NIT Rourkela launches Campus Ambassador programme to enrich the culture of technology and management in your college. Campus Ambassador (CA) will represent Innovision, NIT Rourkela by publicising the events conducted in eastern region’s most significant techno-management fest in their colleges by sharing posts online, putting up posters, word of mouth publicity and any other innovative idea they can think of.
            </p>
            <br>
             <h3 style="font-size: 1.5rem; font-weight: 550;">Incentives</h3>
            <ul>
                <li>Registration fee waiver: All selected CAs will get a registration fee waiver based on their performance. (Refer to the table below for more details)</li>
                <li>CA Exclusive Merchandise: All selected CAs will be given exclusive merchandise to flaunt the spirit of Innovision.</li>
                <li>Certificate: Top performing CAs will be awarded a Certificate of Appreciation by Innovision, NIT Rourkela recognizing their diligent efforts.</li>
            </ul>
            <br>
             <h3 style="font-size: 1.5rem; font-weight: 550;">Responsibility</h3>
            <ul>
                <li>
                    Publicity: Displaying the posters of Innovision 2018 within 2-3 days of receiving them on college bulletins and notice boards.
                </li>
                <li>
                    Social Media: Publicizing the events of Innovision on various Social media platforms like Facebook, Twitter, Instagram by sharing the posts of Innovision and spreading the reach.
                </li>
                <li>
                    In-campus management: Managing the entire contingent of students from your college during the fest.
                </li>
            </ul>
            <br>
             <h3 style="font-size: 1.5rem; font-weight: 550;">FAQ's</h3>
            
            <ul>
                
                    <li style="font-family: 'Quicksand', sans-serif;color: #888">Who is a CA?<br><span style="display: block;color: black;">Ans.
                    CA stands for Campus Ambassador. He/she will essentially be the point of contact between Team
                    Innovision and the college junta.</span></li>
                    <br>
                    
                    <li style="font-family: 'Quicksand', sans-serif;color: #888">Is there any eligibility criteria to become a CA?<br><span style="display: block;color: black;">Ans. Any student from any certified college irrespective of the year of study can apply for the CA programme of Innovision 2018.</span></li>

                    <br>

                    <li style="font-family: 'Quicksand', sans-serif;color: #888">Can there be more than one CA from a college?<br><span style="display: block;color: black;">Ans.
                    CA stands for Campus Ambassador. He/she will essentially be the point of contact between Team
                    Innovision and the college junta.</span></li>
                    <br>
                    <li style="font-family: 'Quicksand', sans-serif;color: #888">Is there any minimum limit on the number
                  of participants from a college?<br><span style="display: block;color: black;">Ans. A minimum number
                    of 15 participants need to be registered from a particular college, else the CA selection from that
                    college will be revoked.</span></li>
                    <br>
                    <li style="font-family: 'Quicksand', sans-serif;color: #888">How do I apply?<br><span style="display: block;color: black;">Step
                    1: Fill out the form below.</span><span style="display: block;color: black;">Step 2: Upload your CV
                    and any relevant certificates to a cloud storage service like Google Drive or Dropbox and copy the
                    link to the folder.</span><span style="display: block;color: black;">Step 3: Paste the link to the
                    folder at the end of the form and click on submit.</span></li>
                    <br>

            </ul>
            

            <div style="padding-top:5%;font-family: 'Source Sans Pro', sans-serif;color: black;" id="perks">

        <div class="row" style="text-align: center;margin-top: 0.8em;">
          <div class="col-md-10 offset-md-1">
 
            <table class="table" style="font-family: 'Quicksand', sans-serif;">
              <thead>
                <tr>
                  <th style="color: black;">No. of Participants</th>
                  <th style="color: black;">Perks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>15-25</td>
                  <td>Certificate</td>
                </tr>
                <tr>
                  <td>26-50</td>
                  <td>Certificate + Fee waiver of (₹10 per registration)</td>
                </tr>
                <tr>
                  <td>50+</td>
                  <td> Certificate + Full fee waiver + Prime CA Merchandise</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <!-- RGISTER -->
    <div class="row">

        <div align="center" role="tabpanel" class="col-md-10 offset-md-1 tab-pane fade show active" id="registration_inno" style="background-color: #0e1735;text-align: left;" >
                    <br>
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="Name" style="color:white;">Name:</label>

                            <div class="col-sm-12">

                                <input name="contactName" type="text" id="q1" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="form-control">

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email" style="color:white">Email:</label>
                            <div class="col-sm-12">

                                <input name="contactEmail" type="email" id="q2" placeholder="Email" value="" required="" aria-required="true" class="form-control">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="phone" style="color:white">Contact No:</label>
                            <div class="col-sm-12">

                                <input name="contactSubject" type="text" id="q3" placeholder="Phone" value="" class="form-control">

                            </div>
                        </div>
                        <div class="form-group" id="choose_clg">
                          <label class="control-label col-sm-6" for="college" style="color:white">Choose College:</label>
                          <div>
                          <select class="col-sm-12 form-control valid" id="q4s" >
                                          <!-- <option value="select">--Select College--</option> -->
                            </select>
                            </div>
                          </div>

                          <div class="form-group" id="enter_clg">
                          <label class="control-label col-sm-6" for="college" style="color:white">Enter College:</label>
                          <div>
                          
                              <input name="contactSubject" type="text" id="q4i" placeholder="College Name" value="" class="form-control">                                          
                            </div>
                          </div>

                        <div class="form-group" style="color:white" id="gender">
                            <label class="control-label col-sm-6" for="Gender" style="color:white">Year of Study:</label>
                            <select class="full-width col-sm-12 form-control" id="q6" >
                                <option value="1st Yr">First</option>
                                <option value="2nd Yr">Second</option>
                                <option value="3rd Yr">Third</option>
                                <option value="4th Yr">Fourth</option>
                                <option value="5th Yr">Fifth</option>
                                <option value="others">Others</option>
                            </select> 
                        </div>
                       
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="college" style="color:white">Course: </label>
                            <div class="col-sm-12">
                                <input name="course" type="text" id="q5" placeholder="Course" value="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color: white;">Have you ever held or are currently holding
              a position of responsibility in your college?</label>
                            <div class="col-sm-12">
                        <textarea name="contactMessage" id="q7" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>
                    </div>
                    </div>

                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">Have you ever been to Innovision earlier? If
              yes, when?</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q8" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">What do you know about Innovision? Write in brief.</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q9" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">How many students from your college do you think you can convince to participate in Innovision ‘19? What will be your strategy to promote Innovision ’19 in your college?</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q10" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">Which social media platforms are you active on?</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q11" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">Which languages are you fluent in?</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q12" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">What makes you unique?</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q13" placeholder="Your answer here" rows="7" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="color:white">Paste the link to your CV folder below.</label>
                            <div class="col-sm-12">

                               <textarea name="contactMessage" id="q14" placeholder="Your answer here" rows="2" cols="50" required="" aria-required="true" class="form-control"></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12" align="center">
                                <!--<a href="#about" class="about-btn scrollto">&nbsp;&nbsp; SUBMIT&nbsp;&nbsp;</a> <br>-->
                                <button class="about-btn scrollto submitform" >&nbsp;&nbsp; REGISTER&nbsp;&nbsp;</button>
                                <!-- <center><button type="submit" class="btn btn-default" style="color:black">Submit</button></center> -->
                            </div>
                        </div>

                    </form>

                </div>
    


      </div>
    

      </div>


            </div>

        </section>



    </div>



    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="../../assets/images/logo.png" alt="TheEvenet">
                        <p>In alias aperiam. Placeat tempore facere. Officiis voluptate ipsam vel eveniet est dolor et totam porro. Perspiciatis ad omnis fugit molestiae recusandae possimus. Aut consectetur id quis. In inventore consequatur ad voluptate
                            cupiditate debitis accusamus repellat cumque.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br> New York, NY 535022<br> United States <br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript ../assets/libraries -->
    <script src="../../assets/lib/jquery/jquery.min.js"></script>
    <script src="../../assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/lib/easing/easing.min.js"></script>
    <script src="../../assets/lib/superfish/hoverIntent.js"></script>
    <script src="../../assets/lib/superfish/superfish.min.js"></script>
    <script src="../../assets/lib/wow/wow.min.js"></script>
    <script src="../../assets/lib/venobox/venobox.min.js"></script>
    <script src="../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <!-- <script src="../../assets/js/contactform.js"></script> -->

    <script type="text/javascript">
      
      $(document).ready(function(){
            $.ajax({
                url:'../../apis/misc/CollegeList/readCollege.php',
                type: 'get',
                success:function(response)
                {
                    // console.log(response)
                    response = JSON.parse(response)
                    if(response.status=="success")
                    {
                        // console.log(response.result)
                        for(var i=0; i<response.result.length; i=i+1)
                        {
                            var x = document.getElementById("q4s");
                              var option = document.createElement("option");
                              option.text = response.result[i].college_name;
                              option.value = response.result[i].college_name;
                              x.add(option);
                        }
                              var x = document.getElementById("q4s");
                              var option = document.createElement("option");
                              option.text = "Others";
                              option.value = "Others";
                              option.id="other";
                              x.add(option);
                    }             
                }
            });
          });


        $('#q4s').on('click', function(){
          var data=$("#q4s").val();
          if (data=='Others') {
            // console.log("bi")
            $('#choose_clg').css("display","none")
            $('#enter_clg').css("display","block")
          } 
            
        });

    </script>
     <!-- Template Main Javascript File -->
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/ajax/get_ca_update.js"></script>
    <script src="../../assets/js/sweetalert.js"></script>
    <!-- <script src="../../assets/js/sweetalert.min.js"></script> -->
    <!-- <script src= "https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
   

</html>