/*Signin and Registration ID*/

#error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #0e1735;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 66vh;
    font-size: 18px;
    border-color: #f82249;
    border-style: solid;
}

#error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 66vh;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 66vh;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 66vh;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 66vh;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#signin_id {
    padding: 100px 0 60px 0;
    background: url(../images/stars.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#signin_id:before {
    content: "";
    background: rgba(6, 12, 34, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#signin_id .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
    position: relative;
}

#signin_id .nav-tabs li {
    display: inline-block;
    margin-bottom: 0px;
    /*width: 40vw;*/
}

#signin_id .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #0e1b4d;
    color: #fff;
    padding: 10px 100px;
}

@media only screen and (max-width: 600px) {
    #signin_id .nav-tabs a {
        border: none;
        border-radius: 50px;
        font-weight: 600;
        background-color: #0e1b4d;
        color: #fff;
        padding: 10px 40px;
        margin-right: -18px;
    }
}

#signin_id .nav-tabs a.active {
    background-color: #f82249;
    color: #fff;
}

#signin_id .nav-item {
    margin-right: 1.5em;
}

#signin_id .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
}

#signin_id .tab-pane {
    transition: ease-in-out .2s;
    padding: 1.5em;
    border-radius: 2em;
}

#signin_id .form-control {
    border-radius: 0.5em;
}

#login_inno .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #f82249;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
    background: #0e1735;
}

#login_inno .about-btn:hover {
    background: #f82249;
    color: #fff;
}

#registration_inno .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #f82249;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
    background: #0e1735;
}

#registration_inno .about-btn:hover {
    background: #f82249;
    color: #fff;
}

.form-group #login_button {
    color: #fff;
}