<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../assets/css/style.css">
<script src="../../../assets/lib/jquery/jquery.min.js"></script>

<body style="background-color: #FBC02D">
    <br>
    <div class="container">
        <center>
            <div class="row">
                <h1 style="display: inline">
                    <b>Campus Ambassador</b>
                </h1>
                <button style="float: right" class="btn btn-info logout-button" onclick="location.href = 'index.html'">Logout</button>
            </div>
        </center>
    </div>
    
    <div class="container" style="background-color: #FFF;border-radius: 2px;box-shadow: 0px 3px 8px rgba(0,0,0,0.25);margin-top: 10vh;">
        <div class="row" style="margin-top: 4em">
        
            <div class="col-md-12">
                <div id="Ca-details"></div>
                <button  class="btn btn-info" id="accept_ca" style="text-align: center;margin-left: 38vw;"></button>
                <br>
                <br>
                <br>              
                </div>

            </div>
        </div>
    </div>
    </div>
  


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../../assets/lib/sweetalert/sweetalert.js"></script>
    <script src="../../../assets/js/ajax/ca_details.js"></script>

    
    <script>
        $(document).on("click", ".logout-button", function() {
            window.location.assign("./index.html");
        });
    </script>
    <script>
        $(document).ready(function() {
            if (!(localStorage.cms_token)) window.location.assign("./index.html");
        });
    </script>
</body>

</html>