<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../assets/css/style.css">
<script src="../../../assets/lib/jquery/jquery.min.js"></script>

<body style="background-color: #FBC02D">
    <br>
    <div class="container">
        <center>
            <div class="row">
                <h1 style="display: inline">
                    <b>Requirements</b>
                </h1>
            </div>
        </center>
    </div>
    <br><br><br><br>
    <div class="container">
        <h3><b>Category-1 :</b></h3><br>
        <div class="row">
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Given</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Left</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <h3><b>Category-2 :</b></h3><br>
        <div class="row">
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Given</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Left</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <h3><b>Category-3 :</b></h3><br>
        <div class="row">
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Given</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Left</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <h3><b>Category-4 :</b></h3><br>
        <div class="row">
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Given</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Requirements Left</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                      <tr>
                        <td>_________</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
  


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../../assets/lib/sweetalert/sweetalert.js"></script>
    <script src="../../../assets/js/ajax/ca_details.js"></script>

    
    <!-- <script>
        $(document).on("click", ".logout-button", function() {
            window.location.assign("./index.html");
        });
    </script>
    <script>
        $(document).ready(function() {
            if (!(localStorage.cms_token)) window.location.assign("./index.html");
        });
    </script> -->
</body>

</html>